:host {
  display: flex;
  align-items: center;
  width: calc(100% - 30px);
  border-top: 1px solid rgba(0,0,0,.3);
  margin: 5px 10px;
  padding: 5px;
  max-height: 150px;
  transition: all .4s cubic-bezier(0.645, 0.045, 0.355, 1); 
  overflow: hidden;
  box-sizing: border-box;
}

:host.deleted {
  border-top-color: rgba(0,0,0,0);
  max-height: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;  
  opacity: 0;
}

header, section {
  margin-bottom: 10px;
}

footer {
  font-size: .8em;
}

.description {
  margin: 0 10px;
}

.details {
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: .8em;
  margin-left:auto;
  text-align: right;
}

.details div {
  margin-bottom: 10px;
}

.details button {
  margin-top: 5px; 
}