<img src="{{courseDetail.thumbnail}}" alt="">
<div class="description">
  <header><a routerLink="/courses/{{courseDetail.slug}}">{{courseDetail.title | uppercase}}</a></header>
  <section>
    {{courseDetail.description}}
  </section>
  <footer>
    Author: {{courseDetail.author}}. Starts at {{courseDetail.date | date:'mediumDate'}}
  </footer>
</div>
<div class="details">
  <div>
    Duration: <span>
      {{courseDetail.length | timeFormat}}
    </span>
  </div>
  <button (click)="edit.emit(courseDetail)">Edit</button>
  <button (click)="delete.emit(courseDetail)">Delete</button>
</div>
