<img src="{{courseDetail.thumbnail}}" alt="">
<div class="description">
  <header><a href="{{courseDetail.permalink}}">{{courseDetail.title | uppercase}}</a></header>
  <section>
    {{courseDetail.description}}
  </section>
  <footer>
    Author: {{courseDetail.author.first}} {{courseDetail.author.last}}. Starts at {{courseDetail.date | date:mediumDate}}
  </footer>
</div>
<div class="details">
  <div>
    Duration: <span>
      {{courseDetail.length | timeFormat}}
    </span>
  </div>
  <button (click)="editCourse($event)">Edit</button>
  <button (click)="deleteCourse($event)">Delete</button>
</div>