<app-header [pageTitle]="'Create Course'"></app-header>
<div>
  <h4>
    Enter your new course data:
  </h4>
  <form action="#" #courseForm="ngForm" (ngSubmit)="submit()">

    <div [attr.error]="title.errors && title.errors['required'] ? 'Title field is required' : null">
      <label for="title">Title</label>
      <input placeholder="Title" maxlength="50" name="title"
      [(ngModel)]="course.title" required #title="ngModel">
    </div>

    <div [attr.error]="description.errors && description.errors['required'] ? 'Description field is required' : null">
      <label for="description">Description</label>
      <textarea name="description" maxlength="500" placeholder="Course description"
      [(ngModel)]="course.description" required #description="ngModel">
      </textarea>
    </div>

    <div [attr.error]="date.errors && date.errors['required'] ? 'Date field is required' : null">
      <label for="date">Date</label>
      <input type="date" name="date" placeholder="Date"
      [(ngModel)]="course.date" required #date="ngModel">
    </div>

    <div [attr.error]="duration.errors && duration.errors['required'] ? 'Duration field is required' : null">
      <label for="duration">Duration</label>
      <input type="number" name="duration" placeholder="Duration"
      [(ngModel)]="course.length" required #duration="ngModel">
    </div>

    <div [attr.error]="authors.errors && authors.errors['required'] ? 'At least one author should present' : null">
      <label for="authors">Authors</label>
      <authors-list name="authors" [(ngModel)]="course.author" #authors="ngModel">
      </authors-list>
    </div>

    <div>
      <label></label>
      <section>
        <button type="submit" (click)="submit(courseForm)" [disabled]="!courseForm.form.valid">Create</button>
        <button type="reset">Cancel</button>
      </section>
    </div>
  </form>
</div>
<app-footer></app-footer>
